{% extends "auctions/layout.html" %}

{% block body %}
    <h2> {{ category.category }}</h2>
    
    <div class = "row mx-3">
        {% for listing in listings %}
        {% if listing.active %}
            <div class = "card mx-3">
                <img src="{{ listing.image }}" style ="width: 210px;" class="card-img-top" >
                <div class = "card-body">
                    <div class="card-title">
                        <a style ="font-size: 30px; color: #000; text-decoration: none;" href="{% url 'listing' id=listing.id %}">{{ listing.title }}</a>
                        <h6>{{ listing.description }}</h6>
                        <p>Price: {{ listing.starting_bid }}$</p>
                        <p style="font-size: 10px;">Created {{ listing.created_at }}</p>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}